.webform-component-filechooser .webform-file-list {
  border: none;
  padding: 0;
  margin: 20px 0;
}

.webform-component-filechooser li {
  background-color: #124395;
  padding: 18px 40px 18px 25px;
  margin-bottom: 20px;
  list-style: none;
}

.webform-component-filechooser li a {
  color: #fff;
}

.webform-component-filechooser .remove-link {
  color: #fff;
  font-style: italic;
  text-decoration: none;
  margin-right: 10px;
}

.webform-component-filechooser .remove-link:before {
  display: inline-block;
  height: 16px;
  width: 16px;
  content: '';
  background-image: url('../images/trash.png');
  margin-right: 5px;
  position: relative;
  top: 3px
}

.webform-component-filechooser li span {
  position: relative;
  top: 25%;
}

.webform-component-filechooser .upload-component {
  float: right;
}

.webform-component-filechooser .upload-component a {
  padding-left: 10px;
  color: #fff;
}

.webform-component-filechooser label {
  margin-bottom: 10px;
}

.webform-component-filechooser .form-textarea-wrapper {
  display: none;
}

.webform-component-filechooser a.button {
  font-weight: 700;
  border-radius: 8px;
  border: 1px solid #124395;
  color: #124395;
  display: inline-block;
  margin-right: 10px;
  line-height: initial !important; /* Overrides main file chooser file css */
  text-align: center;
  width: 88px;
  height: 95px;
  box-sizing: border-box !important; /* Overrides main file chooser file css */
  background: none;
  padding: 0;
  vertical-align: top;
}

.webform-component-filechooser .button:focus,
.webform-component-filechooser .button:hover {
  text-decoration: underline !important;
}

.webform-component-filechooser .dropbox-chooser:before {
  background-image: url('../images/dropbox-logo.png');
}

.webform-component-filechooser .google-picker:before {
  background-image: url('../images/googledrive-logo.png');
}

.webform-component-filechooser .button.box-picker:before {
  background-image: url('../images/box_logo.png');
  width: 52px;
}

.webform-component-filechooser .button:before {
  content: '';
  display: block;
  height: 40px;
  width: 40px;
  position: relative;
  top: 6px;
  margin: 0 auto 15px;
}
